.accordion__content {
  display: none;
}

.accordion.is-open .accordion__content {
  display: grid;
}

.accordion .indicator__plus {
  display: block;
}

.accordion .indicator__minus {
  display: none;
}

.accordion.is-open .indicator__minus {
  display: block;
}

.accordion.is-open .indicator__plus {
  display: none;
}
